<footer>
  <nav>
    <section>
      <h3>Wat kunnen we voor jou <strong>betekenen</strong>?</h3>
      <a href="https://labelvier.nl/diensten/">bekijk de mogelijkheden</a>
    </section>

    <section class="footer-labelvier">
      <h3>Label <strong>Vier</strong></h3>
      <ul>
        <li>Printerweg 10 (4e verdieping)</li>
        <li>3821 AD Amersfoort</li>
        <li><a href="mailto:hallo@labelvier.nl">hallo@labelvier.nl</a></li>
      </ul>
    </section>

    <section class="footer-diensten">
      <h3>Diensten</h3>
      <ul>
        <li><a href="https://labelvier.nl/onze-methode">Label Vier methode</a></li>
        <li><a href="https://labelvier.nl/wetenschappelijk-fundament/">Ons wetenschappelijk fundament</a></li>
        <li><a href="https://labelvier.nl/brown-paper-sessie-klantreis-in-kaart-brengen/">Klantreizen</a></li>
        <li><a href="https://labelvier.nl/brown-paper-sessie-interactieontwerp/">Ux design</a></li>
        <li><a href="https://labelvier.nl/digitaal-design/">Ui design</a></li>
        <li><a href="https://labelvier.nl/ontwikkeling/">Ontwikkeling</a></li>
        <li><a href="https://labelvier.nl/label-vier-support/">Hosting & support</a></li>
        <li><a href="https://status.labelvier.nl/">Status page</a></li>
      </ul>
    </section>

    <section class="footer-informatie">
      <h3>Informatie</h3>
      <ul>
        <li><a href="https://labelvier.nl/jouw-privacy/">Jouw privacy</a></li>
        <li><a href="https://labelvier.nl/diensten/label-vier-support/algemene-voorwaarden-label-vier/">Algemene voorwaarden</a></li>
        <li><a href="https://labelvier.nl/label-vier-support/">Label Vier support</a></li>
        <li><a href="https://labelvier.nl/onze-methode/#">Cookie voorkeuren</a></li>
      </ul>
    </section>
  </nav>
</footer>
</body>
</html>
