<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Vier - Cases</title>
    <meta name="description" content="Bekijk de succesvolle projecten van Label Vier. Aan de hand van onze cases laten wij zien hoe wij klanten helpen met UX, UI en development.">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/styleguide.css">
    <link rel="icon" type="image/png" href="/img/logo_rood - Bewerkt.png">
    <script src="/script.js" defer></script>
</head>

<body>
  <header>
    <nav class="header-nav">
      <a href="/" class="header-logo">
        <img src="/img/logo.svg" alt="Logo Label Vier" width="150" height="50">
      </a>

      <ul class="all-nav-links">
        <li>
          <a href="https://labelvier.nl/onze-methode/">methode</a>
        </li>

        <li>
          <a href="https://labelvier.nl/diensten/">diensten</a>
          <ul>
            <li><a href="https://labelvier.nl/diensten/personas-ontwikkelen/">persona's</a></li>
            <li><a href="https://labelvier.nl/diensten/tevreden-klanten-door-de-klantreis/">klantreizen</a></li>
            <li><a href="https://labelvier.nl/diensten/contentstrategie/">contentstrategie</a></li>
            <li><a href="https://labelvier.nl/diensten/brown-paper-sessie-interactieontwerp/">ux design</a></li>
            <li><a href="https://labelvier.nl/diensten/digitaal-design/">ui design</a></li>
            <li><a href="https://labelvier.nl/diensten/ontwikkeling/">ontwikkeling</a></li>
            <li><a href="https://labelvier.nl/diensten/label-vier-support/">hosting & support</a></li>
          </ul>
        </li>

        <li>
          <a href="https://labelvier.nl/over-ons/">over ons</a>
          <ul>
            <li><a href="https://labelvier.nl/werken-bij-label-vier/">werken bij</a></li>
          </ul>
        </li>

        <li>
          <a href="/cases">werk</a>
        </li>

        <li>
          <a href="https://labelvier.nl/blog/">blog</a>
        </li>
      </ul>

      <div>
        <form action="">
          <label for="zoekveld" class="zoekbalk">Zoeken</label>
          <input type="text" id="zoekveld" name="zoekveld" placeholder="Zoeken...">
        </form>
      </div>


      <a class="header-contact-link" href="/contact">contact</a>
    </nav>
  </header>