{% render 'partials/head.liquid', title: '404' %}

<main class="main-errorpage">

    <section class="text-errorpage">
       <img src="/img/logo_rood.webp" width="300">
       <h1 class="errorpage"><strong>404</strong> - Pagina niet gevonden. <br>
       Naar de <a href="/">homepage.</a></h1>
    </section>

    <section class="image-errorpage">
       <img src="/img/sarah-kilian-52jRtc2S_VE-unsplash-2048x1365.jpg" width="800">
    </section>

</main>

{% render 'partials/foot.liquid' %}