/* ======================= ALGEMENE STYLING GEHELE PAGINA ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main { /* De nav verdwijnt door 'fixed' uit de normale semantiek. Daarom moet er ruimte boven elke main komen. */
  margin-top: 130px;
}

/* ========================= HEADER ============================== */
.header-nav {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: var(--primary-background);
  padding: 1em 2em;
  gap: 15px;
  z-index: 9999;
}

/* Logo eerst klein */
.header-logo img {
  max-width: 150px;
  max-height: 50px;
  height: auto;
  width: auto;
  display: block;
}


/* Navigatielinks binnen de parent li's verticaal standaard */
.all-nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  li { 
    position: relative; /* Parent li */
  }
  a {
    position: relative;
    z-index: 1; /* zet de tekst altijd bovenop */
    text-decoration: none;
    color: var(--primary-text);
    font-weight: 600;
    padding: 8px 5px;
    display: block;
    transition: color 0.4s ease;
    overflow: hidden;
  }
  a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-text);
    transition: left 0.4s ease;
  }
  a:hover::before {
    left: 0;
  }
  a:hover {
    color: white;
  }
  li ul { /* li's in lu standaard verborgen */
    display: none;
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
  }
  li.open > ul {
    display: block;
  }
  li ul li a {
    padding: 8px 15px;
    color: var(--primary-text);
    font-weight: 400;
  }
}

.header-nav > div, .header-nav > a[href="/contact"] {
  width: 100%;
  margin: 0;
}

.header-nav input[type="text"] {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.header-nav input[type="text"]:focus {
  border-color: var(--secondary-highlight);
  outline: none;
}

.zoekbalk {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Contact knop */
.header-nav > a[href="/contact"] {
  background: var(--secondary-highlight);
  color: var(--primary-background);
  font-weight: 600;
  padding: 1em 2em;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  transition: background 0.3s;
}

.header-nav > a[href="/contact"]:hover {
  background: var(--secondary-hover);
}

@media (min-width: 768px) {
  .header-nav {
    flex-wrap: nowrap;
    gap: 30px;
    height: 7em;
    position: fixed;
  }

  .header-logo {
    flex-shrink: 0;
  }

  .all-nav-links {
    flex-direction: row;
    gap: 25px;
    width: auto;
    margin-left: 50px;
  }

  .all-nav-links li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--primary-background);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px 0;
    min-width: 180px;
    border-radius: 4px;
    z-index: 100;
    display: none;
  }

  .all-nav-links li:hover > ul {
    display: block;
  }

  .header-nav > div {
    margin-left: auto;
    margin-right: 20px;
    width: auto;
  }

  .header-nav > a[href="/contact"] {
    width: auto;
  }

  .header-nav input[type="text"] {
    width: 180px;
  }
}

/* ======================= INDEX PAGINA ========================== */
.main-index {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-background);
  height: 60vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  a {
    background: var(--primary-highlight);
    padding: 1em 2em;
    border-radius: 8px;
  }
}

/* ======================= STYLING OVERZICHTSPAGINA CASES =========================== */
/* Section van alle cases bij elkaar zonder h1. Dus niet per article. */
.section-all-cases {
  padding: 2em;
  @media (min-width: 770px) { /* Groter dan mobiel */
      padding: 4em 4em 0 4em;
  }
  @media (min-width: 950px) {  /* Tablet: Relatief snel een nieuw breakingpoint toegevoegd, maar anders was er te veel padding rond dit punt. */
      padding: 4em 6em 0 6em;
  }
  @media (min-width: 1300px) { /* Desktop */
      padding: 4em 13em 0 13em;
  }
  h1 {
  line-height: 1.15;
  }
}

/* Styling images */
.img-case {
    overflow: hidden;
    img {
      width: 100%;
      max-height: 400px;
      padding-top: 2em;
      padding-bottom: 2em;
      height: 100%;
      object-fit: cover;
      display: block;
      aspect-ratio: 1;
      @media (min-width: 750px) { /* Desktop */
          max-height: 470px;
          padding-top: 0;
          padding-bottom: 0;
      }
    }
}

/* Layout styling met grid */
.container-cases {
  margin-top: 2em;
}

.grid-cases {
  display: grid;
  @media (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
  }
}
  
/* Bij een media query van minimaal 750px verandert de layout zodat de sections niet meer vlak onder elkaar staan. */
@media (min-width: 750px) {
  .article-case:nth-of-type(even) a > figure {
    order: 1;
  }
  .article-case:nth-of-type(even) a > .section-case-text {
    padding: 3em 2em 2em 0;
  }
  .article-case:nth-of-type(odd) a > .section-case-text {
    padding: 3em 0 2em 3em;
  }
  .img-case {
    max-height: 100%;
  }
  .section-case-text {
    max-height: none;
  }
}

/* Alle text binnen een case. */
.section-case-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  h2 {
      line-height: 1.15;
  }
  p {
      line-height: 1.5;
      margin: 1em 0 1em 0;
      font-size: var(--font-size-normal-text);
      @media (min-width: 1000px) {  /* Bij een ander breaking-point gaat de text helaas onder de onderstaande image */
      p, a, li {
      font-size: clamp(20px, 3vw, 25px);
      }} 
  }
}

/* Lees verder-knop */
.lees-verder-case {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  min-height: initial;
  line-height: 1;
  font-weight: bold;
  font-size: var(--font-size-small-button);
}

/* Paginering onderaan de cases pagina */
.nav-cases-pages {
  ol {
    list-style: none;       
    padding-top: 5em;
    display: flex;      
    gap: 8px;  
    padding-left: 2em;
    @media (min-width: 770px) {
        padding-left: 4em;
        }
    @media (min-width: 950px) {  
        padding-left: 6em;
        }
    @media (min-width: 1300px){
        padding-left: 13em;
        }
  }      
  li {
    margin: 0;
  }
  a {
    display: inline-block;
    background-color: var(--primary-highlight);      
    color: white;            
    padding: 16px 32px;          
    text-decoration: none;       
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  strong {
    background-color: var(--secondary-highlight); 
    color: white;
    padding: 16px 32px;
    font-weight: 700;
    display: inline-block;
  }
}

.nav-cases-pages a:hover {
  background: var(--primary-highlight);   
}

/* ======================= DETAILPAGE CASE ========================= */
.list-detail-breadcrumbs {
  list-style: none;
  display: flex;
  gap: 10px; 
  padding: 0 0 0 2em;
  margin: 0;
}

.list-detail-breadcrumbs li::after {
  content: "››";
  margin-left: 0.5em;
}

.list-detail-breadcrumbs li:last-child::after {  /* Er komt geen tekentje na de laatste li */
  content: "";
}

.section-detail-image, .section-detail-titels h1, .detail-leestijd, .container-users {
  display: flex;
  justify-content: center; 
}

.detail-leestijd {
  padding-top: 1em;
  padding-bottom: 1em;
  a {
      color: var(--primary-highlight);
  }
}

.section-detail-image img {
  height: 500px;
  width: 80%;
  object-fit: cover;
  display: block;
  padding-bottom: 2em;
  padding-top: 2em;
}

.section-detail-titels h1 {
  padding-left: 0.8em;
  @media (min-width: 810px) {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 0.5em;
  }
}

.container-users {
  display: flex;
  gap: 1em;
  margin: 0 auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1em 0;
  scroll-padding-left: 0;
  -webkit-overflow-scrolling: touch;
  padding-left: 2em;
  padding-right: 2em;
}

.detail-user-card {
  min-width: 240px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 1em;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  picture img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 0.5em;
  }
}

/* Onderste gedeelte pagina */
.section-detail-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  justify-content: center; 
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0em 2em 0em;
  img, video, iframe {
      width: 100%;
      display: flex;
      height: auto;
  }
  p {
      font-size: var(--font-size-small-button);
  }
  h2 {
      font-size: 30px; 
  }
  a {
      color: var(--primary-highlight);
  }
}

/* Video kunnen stylen. De originele style uit de JSON wordt overwritten met het nieuwe stuk code. */
div[style="width: 61rem; margin: 0 auto;"] {
  width: 100% !important;
  margin: 0 !important;
}

.detail-contactpersoon {
  picture img {
  border-radius: 45px;
  }
}



/* ========================== Contact POST ================================ */
.contact-form {
  max-width: 600px;
  margin: 4em auto;
  padding: 2em;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 12px;
  font-family: var(--primary-font);
  li {
    list-style: none;
  }
}

.form-group {
  margin-bottom: 1.5em;
  font-weight: 600;
  li {
    font-weight: 300;
  }
  label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
  }
  input, textarea {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    transition: border-color 0.3s;
  }
}

.form-naam {
  li {
  padding-top: 1em;
  font-size: 0.9rem;
  }
}

.form-group input:focus, textarea:focus {
  border-color: var(--primary-highlight);
  outline: none;
}

.form-group span {
  color: rgb(161, 4, 4);
}

.button-contact-submit {
  background: var(--primary-highlight);
  color: var(--primary-background);
  padding: 1em 2em;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.button-contact-submit:hover {
  background: var(--secondary-highlight);
}

.button-contact-submit.loading {
  pointer-events: none;
  opacity: 0.7;
}

.button-contact-submit.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


.contact-popup {
  font-size: 1.5em;
  font-weight: 400; 
  padding: 1em;
  background: var(--secondary-background);
  color: var(--primary-highlight);
  border: 1px var(--secondary-background);
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease; 
  z-index: 1000;
}

/* ========================= Footer =========================== */
.footer-meaning {
  padding: 3em 4em;
  a {
    background: var(--primary-highlight);
    color: var(--primary-background);
    padding: 1em;
    font-weight: 400;
  }
  a:hover {
    background: var(--primary-hover);
  }
}

footer li {
  list-style: none;
}

.footer-label-vier {
  position: relative;
  background: #e5e5e5;
  width: 100%;
  .footer-wrapper {
    padding: 0 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.footer-label-vier::before {
  background: linear-gradient(-25deg, #e5e5e5 16px, #e5e5e5 16px, #e5e5e5 16px, transparent 0),
    linear-gradient(25deg, #e5e5e5 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 35px 35px;
  content: "";
  display: block;
  height: 32px;
  width: 100%;
  padding: 0;
  position: relative;
  top: -32px;
  left: 0;
}

.footer-label-vier .footer-adress {
  display: flex;
  flex-direction: column;
  gap: .6em;
  h3 {
      font-size: 30px;
  }
  a {
      text-decoration: underline;
  }
}

.footer-diensten, .footer-informatie {
  display: flex;
  flex-direction: column;
  gap: .6em;
  h3 {
      font-size: 30px;
  }
  .footer-cookies {
    padding-top: 1.5em;
    text-decoration: underline;
  }
  a {
    transition: .2s ease-in-out;
  }
  a:hover {
    transition: .2s ease-in-out;
    background: var(--primary-hover);
  }
}

@media screen and (min-width: 750px) {
  .footer-label-vier .footer-wrapper {
    flex-direction: row;
    padding: 3em 4em 3em;
    justify-content: space-between;
    }
}

/* ======================= 404-PAGINA ======================= */
.image-errorpage img {
  width: 100%;
  height: auto;
}

.main-errorpage {
  flex-direction: column; 
  text-align: center;
  padding-bottom: 3em;
  padding-top: 3em;
}

.image-errorpage {
  margin-top: 2em;
  text-decoration: underline; 
}

.text-errorpage a {
    text-decoration: underline; 
}

@media (min-width: 1100px) {
.text-errorpage {
  order: 2;
}
.image-errorpage {
  order: 1;
}
.main-errorpage {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
}
.image-errorpage img, .text-errorpage img {
  max-width: 100%;
  height: auto;
}
.text-errorpage {
  flex-basis: 60%;
}
.image-errorpage {
  flex-basis: 40%;
}
.image-errorpage img {
  height: 850px;
  object-fit: cover;
  display: block; 
}}